
// define colors varables
// If something isn't colored right, it's better to use chrom dev tools inspect to see the css affecting it
$primary: #FFAB00;
$secondary: rgba(255,255,255,.68);
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

//custom color to be mapped
$accent : #da6d25;
$body-bg: #121212;//background color
$body-color: #FFFFFF;//css is stupid and this is the font color of any element
$nav-tabs-link-active-color: $primary;
$dp-1: rgba(255, 255, 255, 0.07);
$dp-2: rgba(255, 255, 255, 0.03);
$dp-3: rgba(255, 255, 255, 0.07);
$dp-4: rgba(255, 255, 255, 0.12);
$text-light: rgba(255,255,255,.38);
$text-medium: rgba(255,255,255,.60);
$text-high: rgba(255,255,255,.87);
$logo-font-size: 1.25rem;
$navbar-height: $logo-font-size + 2rem;
$book-details-top-height: calc(.67em + .67em + 1rem + 1.375rem + 1.5vw);
$author-details-top-height: calc(.67em + .67em + 1rem);
$browse-header-height:1.6rem + .75rem + .75rem +.75rem;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
// add any additional color below
  accent: $accent,
// now bg-accent,btn-accent,etc.. can be called
);





.container{
  padding-top: .75rem;
  padding-bottom: .75rem;
}
.modal-body, .modal-header, .modal-footer{
  background-color: $body-bg;
}
.modal-header > .btn-close{
  background-color: $text-medium;
}
.modal-footer > .btn-secondary{
  background-color: $text-light;
  border-color: $text-light
  // color: #121212;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.book-capsule { 
  max-width: 15vw;

  &__mini{
    max-width: 12vw;
  }
  &__thumbnail{
    background-color: $text-medium;
    position: relative;
    // display: flex;   
    // justify-content: center;
    &__placeholder{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      bottom: 0;
      top: 0;
    }
    svg{
      margin:auto;
      font-size: 10vw;
      color: $body-bg;
    }
  }
  &__btn-group{
    width: 100%;
    :not(:first-child):not(:last-child){
      border-radius: 0;
    }
    :first-child{
      // border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0;
    }
    :last-child{
      // border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0;
    }  
    &__tooltip{
      font-size: 1.2rem;
      padding: .25rem;
      color: $text-high;
    }
    
    button{
      :active{
        background-color: $primary;
        color: $body-bg;
      }
    }
  }
  &__read-page-update-overlay{
    background-color: $dp-4;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &__rating-container{
    display: flex;
    justify-content: space-between;

    div {

      text-align: center;
      padding: .5rem;
      justify-content:left ;

      span {
        margin-top: auto;
        margin-bottom: auto;
        font-size:1rem ;
      }
    } 
  }
  &__rate-btn{
    border-radius: 0;
    border-color: unset;
    border: 0;
  }
  &__rating-bar{
    width: 100%;
    justify-content: space-between;
    &__avg-rating{
      width: 50%;
      padding-left: .5rem;
      padding-right: .5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      svg{
        align-self: center;
        color: $text-high;
      }
      span{
        font-size: 1.4rem;
        color: $text-high;
      }
    }
    &__user-rating{
      width: 50%;
      border-radius: 0;
      border-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      svg{
        align-self: center;
      }
      span{
        font-size: 1.4rem;
      }
    }
    
    &__btn {
      width: 100%;
      border-radius: 0;
      border-color: transparent;
    }
  }
  background-color: $dp-3;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // padding: 0;
}
.bookshelf-stats{
  padding-left: .25rem;
  padding-right: .25rem;
  margin-left: 0;
}
.author-preview {
  background-color: $dp-3;
  padding-top: .75rem;
  padding-bottom: .75rem;
  &__image{
    width: 100%;  
    height: 100%;
    background-color: $text-medium
  }
  &__name-block__name{
    text-decoration: none;
    font-size: 2rem;
  }
}
.book-review-block{
  background-color:  $dp-3;
  &__thumbnail{
    position: relative;
    // display: flex;   
    // justify-content: center;
    padding: .5rem;
    svg{
      padding: .5rem;
      width: 100%;
      height: auto;
      margin:auto;
      color: $body-bg;
      background-color: $secondary;
    }

  }
}
.book-review-details{
  background-color: $dp-2;

  &__comment{
    background-color: $dp-3;
    padding: .5rem;
  }
}
.review-summary-block{
  &__avgRating{
    color: $primary;
    font-size: 3.25rem;
  }
}
.book-review-block{
  background-color:  $dp-2;
  padding-right: .75rem;
  padding-left: .75rem;
  z-index: 0;
  &__reviewer_image{
    width: 100%;  
    height: 100px;
    background-color: $text-medium
  }
}
.review-summary-block{
  padding-left: .5rem; 
  padding-right: .5rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__write-review-btn{
    color: $primary;
    background-color: transparent;    
  }
}
.allow-click-self{
  pointer-events: auto; 
}
.author-block-text{
  font-size:1rem;
}
.author-details{
  &__left-col{
    &__inner{
      .follow-block{
        text-align: center;
      }
    }
  }
}
.book-details, .author-details{
  &__left-col,&__mid-col-top,&__right-col{
    position: fixed;
    pointer-events: none; 
  }
  &__mid-col-top{
    z-index: 5;
  }
  &__left-col{
    &__inner{
      padding-left: 1rem;
      padding-right: .5rem;

      .follow-block{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__right-col{
    &__inner{
      padding-left: .5rem;
      padding-right: 1rem;
    }
  }
}
.book-details__tab-bar{
  top: calc($navbar-height + $book-details-top-height - 2px);
  position: sticky;
  padding-top: 2px;
}
.author-details__tab-bar{
  top: calc($navbar-height + $author-details-top-height - 2px);
  position: sticky;
  padding-top: 2px;
}
.book-review-details__comment{
  &__delete-btn{
    margin-left: auto;
    text-align: right;
    text-decoration:none;
    flex:1;
    color: $danger;
    :focus{
      outline: none;
      box-shadow: none;
    }
  }
}
.book-details__mid-col-bottom{
  // margin-top: $navbar-height + $book-details-top-height;
  padding-top:  $book-details-top-height;
  margin-left: .5rem;//book-details__mid-col-top-header has  some issues covering wholething
  margin-right: .5rem;
}
.book-details__mid-col-top-header{
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: $body-bg;
  height: $book-details-top-height;
  z-index: 2;
}
.author-details__mid-col-bottom{
  // margin-top: $navbar-height + $book-details-top-height;
  padding-top:  $author-details-top-height;
  margin-left: .5rem;//book-details__mid-col-top-header has  some issues covering wholething
  margin-right: .5rem;
}
.author-details__mid-col-top-header{
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: $body-bg;
  height: $author-details-top-height;
  z-index: 2;
}
.top-navbar, .book-details__mid-col-top-header,.book-details__tab-bar
, .author-details__mid-col-top-header,.author-details__tab-bar {
  background-color: $body-bg;
  z-index: 1;

}
.navbar-brand{
  font-size:$logo-font-size;
}

.top-navbar{
  height: $navbar-height;
  z-index: 9000;
}
.book-carousel{
  width: 100%;
  height: auto;
  // width:auto;
  .carousel-control-next, .carousel-control-prev{
    display: none;
  }
  padding: 0 .25rem 3rem .25rem ;
  &__book-group{
    justify-content: space-between;
  }
}
.book-gallery{
  // &&__row{

  // }
  &__col{
    margin-top: auto;
  }
}
.space-contents-between{
  justify-content: space-between;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-review-block__reviewer_image{
  // display: flex;
  padding: .5rem;
  svg {
    margin:auto;
    // font-size: 5vw;
    color: $body-bg;
  }
}
.book-search-preview{
  min-height: 150px;
  &__thumbnail{
    width: 100px;  
    height:150px;
    background-color: $text-medium
  }
}
.top-navbar{
  padding-top: 2px;
  padding-bottom: 0px;

  &__border-hack{
    background-color:$primary;
    height: 2px;
  }
  &__inner{
    padding-bottom: 2px;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}
.follow-block{
  display: inline-flex;

  h3{
    display: inline;
    margin-bottom: 0;
  }
}
.navbar-user-submenu{
  background-color: $body-bg;
  border: 2px solid $primary;
  right: 0;
  min-width: 14vw;
  .navbar-messages-list{
    max-width: 20vw;
  }
  &__notification{
    position: relative;
    display: inline;
  }
  &__unread-indicator{
    // background-color: $primary;
    // color: $body-bg;
    // color: $body-bg;

    // background-color: $body-bg;
    // color: $primary;
    // border: 2px solid $primary;

    color: $text-high;

    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    padding: .2rem;
    position: absolute;
    top: -0.4rem;
    right: -.75rem;
    font-size: .7rem;
    text-align: center ;
  }
  &__btn{
    flex: 1;
  }
  &__footer{
    display: flex;
  }
  &__toggle__btn{
    background-color: $body-bg;
    :active{
      background-color: $primary;    
      color: $body-bg;
    }
  }
  .popover-header{
    background-color: $body-bg;
    border-top: 3px solid $primary;
  }
}
.nav-search-bar{
  flex:1;
  &__container{
    display:inline;
    display: flex;
    width: 100%;
    gap:.5rem
  }
}
.browse-genre{
  top: $navbar-height;
  &__header{
    width: 100%;
    // position: fixed;
    background-color: $body-bg;
    // position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:$navbar-height;
    hr{
      width: 100%;
      flex-basis: 100%;
      display: block;
    }
  }
}


//nav dropdown 
.top-navbar__browse__dropdown{
  
  div.dropdown-menu.show {
    background-color: $body-bg;
    border: 2px solid $primary;
    border-top: 0px;
    border-radius: 0;
    z-index: 6;
    a {
      color: $primary;
      text-decoration: none;
    }
    padding:0;
  }
  &__left-menu{
    background-color: $dp-3;

  }
  .genre-submenu{
    background-color: $body-bg;
    padding: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    white-space: nowrap;
    a {
      text-decoration: none;
    }
  }
}

.browse-new{
  top: $navbar-height;
  &__header{
    width: 100%;
    // position: fixed;
    background-color: $body-bg;
    // position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:$navbar-height;
    z-index: 3;
    hr{
      width: 100%;
      flex-basis: 100%;
      display: block;
    }
  }
  &__body{
    padding-top:$browse-header-height; 
  }
}
.browse-genre__header{
  &__dropdown{
    div.dropdown-menu.show{
      background-color: $primary;
      z-index: 3;
      // background-color: $body-bg; 
      // border: 2px solid $primary;
      // border-radius: 0;
      // color: $body-bg;
      // .dropdown-item{
      //   color: $primary;
      // }
    }

    
  }
}
.browse__tab-bar, .feed__tab-bar{
  position:sticky;
  top:$navbar-height;
  // top:$navbar-height + $browse-header-height;
}
.feed-item{
  border-radius: 5px;
  border: 1px solid $text-light;
  padding-bottom: .5rem;
  padding-top: .5rem;

  &__header{
    justify-content: space-between;
  }
}
.book-blurb{

  &__details{
    height: 100%;
  }
}
.link-color-unset{
  color:unset;
  text-decoration: none;
}
.link-color-unset:hover{
  color: inherit !important;
}
.review-blurb__quote-block{
  background-color: $dp-3;
  justify-content: space-between;
  align-content: space-between;
  padding: .5rem;

  div{
    flex: 1;
    padding: .5rem;
  }
}

.primary-text{
  color:$primary;
}
.userprofile__body{

}
.bg-text{
  color:$body-bg;
}
.primary-bg{
  background-color:$primary;
}
.light-text{
  color:$text-light;
}
.medium-text{
  color:$text-medium;
}
.high-text{
  color: $text-high;
}
.inline-block{
  display: inline-block;
}
.inline-only{
  display: inline;
}
.no-text-effects{
  text-decoration: none;
}
.messenger-left{
  position: relative;
  height: 100%;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

.message-preview{
  background-color: $dp-2;
  border: none;
  padding:.5rem;
  width: 100%;
  &__container{
    height: 100%;
    max-width: inherit;
    overflow-y: scroll;
    position: absolute;
    padding-left: 0;
    // padding-right: 0;
  }
  
  &__active{
    border-right: solid 4px $primary;
    background-color: $dp-4;
  }
  :hover{
    color: unset;
    background-color: unset;
  }
  &__body{
    text-align: left;
  }
}
.message{
  &__container{
    &__self{
      padding-left: 25%;
    }
    &__other{
      padding-right: 25%;
    }
  }
  background-color: $dp-3;
  border-radius: 4px;
  &__timestamp{
    display: block;
    .span{
      margin-left: auto;
      
    }      
    &__self{
      text-align: right;
    }
  }
  &__self{
    background-color: $primary;
    color: $body-bg;

  }
}
.messenger-mid{
  // position: fixed;
  position: relative;
  height: 100%;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
.messages-list{
  overflow-y: scroll;
  position: absolute;
  height: 100%;  
  padding-bottom: 20vh;
  top:0;

  &__archived{
    pointer-events: none;
    position:absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    // text-align: center;
    // justify-content: center;
  }
}
.messenger-container{
  position: fixed;
  width: 100%;
  height: calc(100% - $navbar-height);
  padding-left: 0;
  padding-right: 0;
}
.message-post-textbox{
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $body-bg;
  padding: .25rem;
  margin-left: .75rem;  // width: 100%;
  position: absolute;
}
body{
  color:$text-high;
}
.app-body{ 
  padding-top: $navbar-height;
}
.no-pad-x{
  padding-left: 0;
  padding-right: 0;
}
.no-pad-y{
  padding-top: 0;
  padding-bottom: 0;
}
.center-text{
  text-align: center;
}