
// define colors varables
// If something isn't colored right, it's better to use chrom dev tools inspect to see the css affecting it
$primary: #FFAB00;
$secondary: rgba(255,255,255,.68);
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

//custom color to be mapped
$accent : #da6d25;
$body-bg: #121212;//background color
$body-color: #FFFFFF;//css is stupid and this is the font color of any element
$nav-tabs-link-active-color: $primary;
$dp-1: rgba(255, 255, 255, 0.07);
$dp-2: rgba(255, 255, 255, 0.03);
$dp-3: rgba(255, 255, 255, 0.07);
$dp-4: rgba(255, 255, 255, 0.12);
$text-light: rgba(255,255,255,.38);
$text-medium: rgba(255,255,255,.60);
$text-high: rgba(255,255,255,.87);
$logo-font-size: 1.25rem;
$navbar-height: $logo-font-size + 2rem;
$book-details-top-height: calc(.67em + .67em + 1rem + 1.375rem + 1.5vw);
$browse-header-height:1.6rem + .75rem + .75rem +.75rem;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
// add any additional color below
  accent: $accent,
// now bg-accent,btn-accent,etc.. can be called
);





.container{
  padding-top: .75rem;
  padding-bottom: .75rem;
}
.modal-body, .modal-header, .modal-footer{
  background-color: $body-bg;
}
.modal-header > .btn-close{
  background-color: $text-medium;
}
.modal-footer > .btn-secondary{
  background-color: $text-light;
  border-color: $text-light
  // color: #121212;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.book-capsule { 
  &__thumbnail{
    width: 100%;  
    height: 240px;
    background-color: $text-medium;
    display: flex;   
    justify-content: center;
    svg{
      display: block;
      margin:auto;
      color: $body-bg;
    }
  }
  &__btn-group{
    :not(:first-child):not(:last-child){
      border-radius: 0;
    }
    :first-child{
      // border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0;
    }
    :last-child{
      // border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0;
    }  

    button{
      :active{
        background-color: $primary;
        color: $body-bg;
      }
    }
  }
  &__read-page-update-overlay{
    background-color: $dp-4;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &__rating-container{
    display: flex;
    justify-content: space-between;

    div {

      text-align: center;
      padding: .5rem;
      justify-content:left ;

      span {
        margin-top: auto;
        margin-bottom: auto;
        font-size:1rem ;
      }
    } 
  }
  &__rate-btn{
    border-radius: 0;
    border-color: unset;
    border: 0;
  }
  &__rating-bar{
    justify-content: space-between;
    &__avg-rating{
      width: 50%;
      padding-left: .5rem;
      padding-right: .5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      svg{
        align-self: center;
        color: $text-high;
      }
      span{
        font-size: 1.4rem;
        color: $text-high;
      }
    }
    &__user-rating{
      width: 50%;
      border-radius: 0;
      border-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      svg{
        align-self: center;
      }
      span{
        font-size: 1.4rem;
      }
    }
    
    &__btn {
      width: 100%;
      border-radius: 0;
      border-color: transparent;
    }
  }
  background-color: $dp-3;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // padding: 0;
}
.author-preview {
  background-color: $dp-3;
  padding-top: .75rem;
  padding-bottom: .75rem;
  &__image{
    width: 100%;  
    height: 100%;
    background-color: $text-medium
  }
}
.book-review-block{
  background-color:  $dp-3;
  padding-right: .75rem;
  padding-left: .75rem;
  &__reviewer_image{
    width: 100%;  
    height: 100px;
    background-color: $text-medium
  }
}
.review-summary-block{
  padding-left: .5rem; 
  padding-right: .5rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__write-review-btn{
    color: $primary;
    background-color: transparent;    
  }
}
.allow-click-self{
  pointer-events: auto; 
}
.author-block-text{
  font-size:1rem;
}
.book-details{
  &__left-col,&__mid-col-top,&__right-col{
    position: fixed;
    pointer-events: none; 
  }
  &__left-col{
    &__inner{
      padding-left: 1rem;
      padding-right: .5rem;
    }
  }
  &__right-col{
    &__inner{
      padding-left: .5rem;
      padding-right: 1rem;
    }
  }
}
.book-details__tab-bar{
  top: calc($navbar-height + $book-details-top-height);
  position: sticky;
}
.book-details__mid-col-bottom{
  // margin-top: $navbar-height + $book-details-top-height;
  padding-top:  $book-details-top-height;
  margin-left: .5rem;//book-details__mid-col-top-header has  some issues covering wholething
  margin-right: .5rem;
}
.book-details__mid-col-top-header{
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: $body-bg;
  height: $book-details-top-height;
  z-index: 2;
}
.top-navbar, .book-details__mid-col-top-header,.book-details__tab-bar {
  background-color: $body-bg;
  z-index: 1;
}
.navbar-brand{
  font-size:$logo-font-size;
}

.top-navbar{
  height: $navbar-height;
}
.book-carousel{
  width: 100%;
  padding: 0 3rem 3rem 3rem ;
}
.review-details{
  min-height: 1000px;
  // padding-bottom: 500px;
}
.book-search-preview{
  min-height: 150px;
  &__thumbnail{
    width: 100px;  
    height:150px;
    background-color: $text-medium
  }
}
.top-navbar{
  padding-top: 2px;
  padding-bottom: 0px;

  &__border-hack{
    background-color:$primary;
    height: 2px;
  }
  &__inner{
    padding-bottom: 2px;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}
.follow-block{
  display: inline-flex;

  h3{
    display: inline;
    margin-bottom: 0;
  }
}
.browse-genre{
  top: $navbar-height;
  &__header{
    width: 100%;
    // position: fixed;
    background-color: $body-bg;
    // position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:$navbar-height;
    hr{
      width: 100%;
      flex-basis: 100%;
      display: block;
    }
  }
  &__body{
    padding-top:$browse-header-height; 
  }
}
.browse-new{
  top: $navbar-height;
  &__header{
    width: 100%;
    // position: fixed;
    background-color: $body-bg;
    // position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:$navbar-height;
    hr{
      width: 100%;
      flex-basis: 100%;
      display: block;
    }
  }
  &__body{
    padding-top:$browse-header-height; 
  }
}
.browse__tab-bar{
  position:sticky;
  top:$navbar-height;
}
.primary-text{
  color:$primary;
}
.primary-bg{
  background-color:$primary;
}
.light-text{
  color:$text-light;
}
.medium-text{
  color:$text-medium;
}
.high-text{
  color: $text-high;
}
.inline-block{
  display: inline-block;
}
.no-text-effects{
  text-decoration: none;
}


body{
  color:$text-high;
}
.app-body{ 
  padding-top: $navbar-height;
}
.no-pad-x{
  padding-left: 0;
  padding-right: 0;
}
.no-pad-y{
  padding-top: 0;
  padding-bottom: 0;
}
.center-text{
  text-align: center;
}